@model ElectricityWeb.Models.Engine.AsyncEngineModel

@{
    ViewBag.Title = "Асинхронный двигатель";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Highcharts-4.0.1/js/highcharts.js"></script>

@*
    <div id="async-chart">
        @Html.Action("AsyncChart", "Engine", new {model=Model})
    </div>
*@

<div class="calcs card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/Content/img/async.JPG">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Расчет асинхронного двигателя <i class="mdi-navigation-more-vert right"></i></span>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Расчет асинхронного двигателя <i class="mdi-navigation-close right"></i></span>
        @Html.Partial("_AsyncResults")
    </div>
</div>