@import "variables.scss";

html, body {
    height: 100%;
}

body {
    //background-color: $body-background-color;
}

.input-group {
    width: 80%;
}

.input-group-addon {
    width: 30%;
}

.input-validation-error {
    background-color: $input-error-background;
    font-weight: bold;
}

.error {
    color: $error-text-color;
}

.page-logo {
    float: left;
    width: 20%;
}

img.visualizing {
    width: 200px;
    height: 200px;
}


@mixin input-border($thickness){
    border: $thickness solid $input-border-color;
}

input[type="text"] {
    @include input-border(1px);
    &:focus {
        @include input-border(2px);
        font-weight: 700;
    }
}

h1 {
    font-size: 32pt;
}
