@import "variables.scss";

html, body {
    height: 100%;
    background-color: $body-background-color;
}

.main {
    //background-color: $main-background-color;
    //height: 80%;
}

header {
    background-color: $header-background-color;
    height: 140px;
}

.input-validation-error {
    background-color: $input-error-background;
    font-weight: bold;
}

.error {
    color: $error-text-color;
}

.container {
    height: 100%;
}

.calcs {
    &.card {
        height: 700px;
        .card-image {
            height: 600px;
        } 
        .card-content {
            height: 100px;
        }
    }
}

.input-validation-error {
    border-bottom: 1px solid #F44336 !important;
}

.small.card.preview {
    .card-image {
        height: 200px;
    }
    .card-action {
        height: 100px;
    }
}
