body {
    background-color: #ffffff;
}

header {
    height: 80px;
    background-color: #ecf8fd;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    background-image: url(Images/bg.png);
}

.input-group {
    width: 50%;
}

.input-group-addon {
    width: 100px;
}

.input-validation-error {
    background-color: #f7adad;
    font-weight: bold;
}

.calcs {
    float: left;
}

#main-section {
    margin: 0 auto;
    width: 60%;
}