@import url(http://fonts.googleapis.com/css?family=Scada&subset=latin,cyrillic);

body {
    background-color: #b1c3cd;
    
}

.input-group {
    width: 50%;
}

.input-group-addon {
    width: 100px;
}

.input-validation-error {
    background-color: #f7adad;
    font-weight: bold;
}

.error {
    color: #a12525;
}

.page-logo {
    float: left;
    width: 30%;
}

.calcs {
    display: inline-block;
    width: 30%;
}

.results {
    float: right;
    width: 40%;
}

main {
    margin: 100px auto 0 auto;
    width: 80%;
    font-family: 'Scada', sans-serif;
    color: #222;
}