@{
    ViewBag.Title = "Losses calculations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Losses calculations</title>
</head>
<body>
    <div class="general-info">
        На этом сайте представлены расчеты потерь в электрических сетях
    </div>
</body>
</html>
