@{
    ViewBag.Title = "Расчеты энергоснабжения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
</head>
<body>
    <div class="general-info">
        <h1>Main page</h1>
    </div>
</body>
</html>
