@import url(http://fonts.googleapis.com/css?family=Scada&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);

// Colors
$body-background-color: #6E6E6E;
$body-text-color: #FFF;

$menu-background-color: #393939;
$menu-hover-color: $menu-background-color * 0.9;
$menu-link-color: #F3843E;
$menu-link-hover-color: $menu-link-color * 1.2;

$input-error-background: #f7adad;
$error-text-color: #a12525;

$input-background-color: $body-background-color;
$input-border-color: #fff;
$input-text-color: #FF9900;

$header-background-color: #24C2CB;

// Fonts
$body-font: 'Scada', sans-serif;
$menu-font: 'Philosopher', sans-serif;
$header-font: 'Philosopher', sans-serif;