@import url(http://fonts.googleapis.com/css?family=Scada&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Philosopher&subset=cyrillic);

// Colors
$body-background-color: #0C1127;
$body-text-color: #CFB3C8;

$menu-background-color: #D3366F;
$menu-hover-color: $menu-background-color * 0.9;
$menu-link-color: #74042A;
$menu-link-hover-color: $menu-link-color * 1.2;

$input-error-background: #f7adad;
$error-text-color: #a12525;

$input-background-color: $body-background-color;
$input-border-color: #fff;
$input-text-color: #CE7AB9;

$header-background-color: #24C2CB;

// Fonts
$body-font: 'Scada', sans-serif;
$menu-font: 'Philosopher', sans-serif;
$header-font: 'Philosopher', sans-serif;